<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            /* background-color: #f4f4f4; */
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #666;
        }

        .container {
            text-align: center;
        }

        h1 {
            color: #333;
            font-size: 4em;
            margin-bottom: 20px;
        }

        p {
            color: #ef0606;
            font-size: 1.2em;
            margin-bottom: 30px;
        }

        .error-image {
            height: 120px;
            width: 120px;
            animation: shake 0.5s ease infinite;
        }
         
        @keyframes shake {
            0%, 100% {
                transform: translateX(0);
            }
            25%, 75% {
                transform: translateX(-10px);
            }
            50% {
                transform: translateX(10px);
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Oops!</h1>
        <p>Something went wrong. We're working to fix it.</p>
        <img class="error-image" src="https://png.pngtree.com/png-clipart/20190604/original/pngtree-404-error-page-png-image_1362453.jpg" alt="Error Image">
    </div>
</body>
</html>
