+<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!-- Your content goes here -->
    <div class="wrapper">
        <nav>

            <div class="logo" >
                <img src="LOGO.jpeg" alt="">
                <a href="http://localhost:5000/home"></a>
            </div>

            <div class="options">
                <nav class="navigation">
                    <a href="http://localhost:5000/home">Home</a>
                    <a href=" http://localhost:5000/about">About</a>
                    <a href="http://localhost:5000/contact">Contact</a>
                </nav>
            </div>

        </nav>
        <div class="container">
            <div class="newTitle">
                <div class="title">

                    <p> <span class="typed-text"></span><span class="cursor">&nbsp;</span></p>

                </div>
            </div>


            <!-- <h1>
                Welcome our website  <span class="role"></span>
            </h1> -->
            <br>
            <div class="container_text">
                <h4>
                    Our college hostel complaint website is a user-friendly platform designed to streamline and address concerns related to hostel life. It provides a convenient and efficient way for students to submit and track their complaints regarding hostel facilities, services, or any other issues they may encounter.
                </h4>
            </div>
            <div class="button">
                
                <form   method="get" action="http://localhost:5000/viewadminlogin">
                    <button  class="btn btn-primary btn-lg" id="btn1">Admin</button>
                </form>
               
                    
                <form   method="get" action="http://localhost:5000/viewlogin">
                    <button class="btn btn-primary btn-lg" id="btn2">Student</button>
                </form>

                


            </div>
        </div>

    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="https://kit.fontawesome.com/58a810656e.js" crossorigin="anonymous"></script>
    <script>
      var typeData = new Typed(".role", {
        strings: [
          "to our college hostel"
        ],
        loop: true,
        typeSpeed: 100,
        backSpeed: 80,
        backDelay: 1000,
      });
    </script> -->


    <script src="main.js"></script>
   
</body>

</html>